<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="paypalform.css"/> 
</head>
<body>
    <div class="paypal-form" >
        <div class="paypal-header container">
            <h4 class="header-text">Donate via Paypal</h4>
            <img src="https://neculaifantanaru.com/paypal.png" alt="Alternate Text" />
        </div>
        <div class="paypal-body">
            <div class="col">
                <div class="body-text">
                    <h4>RECURRENT DONATION</h4>
                    <p>Donate to support IEAP</p>
                </div>
                <div class="paypal-content">
                    <form action="https://www.paypal.com/donate?hosted_button_id=XHH27KSZ3KQSC" method="post" class="den_webinar">
                        <input type="hidden" name="business" value="ieapsystem4@gmail.com">
                        <input type="hidden" name="cmd" value="_donations">
                        <select name="amount"><option value="3.00">&euro;3.00</option><option value="5.00">&euro;5.00</option><option value="10.00">&euro;10.00</option><option value="25.00">&euro;25.00</option><option value="50.00">&euro;50.00</option></select>
                        <input type="hidden" name="currency_code" value="EUR">
                        <input class="paypal-img" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="paypal-contact">
        <h4>Donate by Bank Transfer</h4>
        <p>
            <span>Account Ron: </span>
            4203205307788</p>
        <div class="text-muted">
            Open account at Agri Bank
        </div>
    </div>
</body>
</html>