<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="Login.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="form" id="form1">
            <div class="logo">
                <img src="/img/logo.png">
            </div>

            <div class="box container">
                <div class="form1 container">
                    <div class=" container">

                        <form action="" >
                            <div class="form-floating mt-4">
                                <input type="email" class="form-control login_email" id="floatingInput" placeholder="name@example.com"
                                    required="true">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mt-3">
                                <input type="password" class="form-control login-password" id="floatingPassword" placeholder="Password"
                                required="true">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="text-center mt-3">
                                <input class="btn btn-primary w-100 buttonlogin" type="submit">
                                <div class="form-login-alert"></div>
                            </div>
                        </form>
                        <div class="forgot mt-3">
                            <a href="/forgot" class="pass-forgot">Forgot
                                password?</a>
                        </div>
                        <div class="line">

                        </div>
                        <div class="create mt-4">
                            <button id="signup-account" onclick="redirectRegister()"
                                class="btn btn-primary  buttoncreate" type="button">Create a new account</button>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    <div class="form2" id="form2">

        <div class="form2-signup">
            <div class="form2-close">
                <button id="close" onclick="redirectRegister2()" class="buttonclose" type="button">X</button>
            </div>
            <div class="form2-signup-heading">
                <p class="form2-signup-name">Sign Up</p>
                <p class="form2-signup-child-name">It' quick and easy.</p>
            </div>
            <div class="form2-signup-name">
                <input type="text" class="fname" placeholder="First name">
                <input type="text" class="sname" placeholder="Surname">
            </div>
            <div class="form2-signup-email">
                <input class="mailInput" type="email" placeholder="Email address or phone number">
            </div>
            <div class="form2-signup-password">
                <input class="passwordInput" type="password" placeholder="password">
            </div>
            <div class="form2-date-birth">
                <label for="">Date of birth</label>
            </div>
            <div class="form2-date-selection">
                <div class="select-choice">
                    <select name="" class="date" id="">
                        <option value="1st">
                            1
                        </option>
                        <option value="2nd">
                            2
                        </option>
                        <option value="3rd">
                            3
                        </option>
                        <option value="4th">
                            4
                        </option>

                        <option value="5th">
                            5
                        </option>

                        <option value="6th">
                            6
                        </option>

                        <option value="7th">
                            7
                        </option>

                        <option value="8th">
                            8
                        </option>

                        <option value="9th">
                            9
                        </option>

                        <option value="10th">
                            10
                        </option>

                        <option value="11th">
                            11
                        </option>

                        <option value="12th">
                            12
                        </option>

                        <option value="13th">
                            13
                        </option>

                        <option value="14th">
                            14
                        </option>

                        <option value="15th">
                            15
                        </option>

                        <option value="16th">
                            16
                        </option>

                        <option value="17th">
                            17
                        </option>

                        <option value="18th">
                            18
                        </option>

                        <option value="19th">
                            19
                        </option>

                        <option value="20th">
                            20
                        </option>

                        <option value="21th">
                            21
                        </option>

                        <option value="22th">
                            22
                        </option>

                        <option value="23th">
                            23
                        </option>

                        <option value="24th">
                            24
                        </option>

                        <option value="25th">
                            25
                        </option>

                        <option value="26th">
                            26
                        </option>

                        <option value="27th">
                            27
                        </option>

                        <option value="28th">
                            28
                        </option>

                        <option value="29th">
                            29
                        </option>

                        <option value="30th">
                            30
                        </option>

                        <option value="31th">
                            31
                        </option>
                    </select>
                </div>
                <div class="select-choice">
                    <select class="month" name="" id="">

                        <option value="Jan">

                            Jan
                        </option>

                        <option value="Feb">

                            Feb
                        </option>

                        <option value="Mar">

                            Mar
                        </option>

                        <option value="Apr">

                            Apr
                        </option>

                        <option value="May">

                            May
                        </option>

                        <option value="Jun">

                            Jun
                        </option>

                        <option value="Jul">

                            Jul
                        </option>

                        <option value="Aug">

                            Aug
                        </option>

                        <option value="Sep">

                            Sep
                        </option>

                        <option value="Auc">

                            Auc
                        </option>

                        <option value="Nav">

                            Nav
                        </option>

                        <option value="Dec">

                            Dec
                        </option>


                    </select>
                </div>
                <div class="select-choice">
                    <select class="year" name="" id="">

                        <option value="1950">
                            1950
                        </option>

                        <option value="1951">
                            1951
                        </option>

                        <option value="1952">
                            1952
                        </option>

                        <option value="1953">
                            1953
                        </option>

                        <option value="1954">
                            1954
                        </option>

                        <option value="1955">
                            1955
                        </option>

                        <option value="1956">
                            1956
                        </option>

                        <option value="1957">
                            1957
                        </option>

                        <option value="1958">
                            1958
                        </option>

                        <option value="1959">
                            1959
                        </option>

                        <option value="1960">
                            1960
                        </option>

                        <option value="1961">
                            1961
                        </option>

                        <option value="1962">
                            1962
                        </option>

                        <option value="1963">
                            1963
                        </option>

                        <option value="1964">
                            1964
                        </option>

                        <option value="1965">
                            1965
                        </option>

                        <option value="1966">
                            1966
                        </option>

                        <option value="1967">
                            1967
                        </option>

                        <option value="1968">
                            1968
                        </option>

                        <option value="1969">
                            1969
                        </option>

                        <option value="1970">
                            1970
                        </option>

                        <option value="1971">
                            1971
                        </option>

                        <option value="1972">
                            1972
                        </option>

                        <option value="1973">
                            1973
                        </option>

                        <option value="1974">
                            1974
                        </option>

                        <option value="1975">
                            1975
                        </option>

                        <option value="1976">
                            1976
                        </option>

                        <option value="1977">
                            1977
                        </option>

                        <option value="1978">
                            1978
                        </option>

                        <option value="1979">
                            1979
                        </option>

                        <option value="1980">
                            1980
                        </option>

                        <option value="1981">
                            1981
                        </option>

                        <option value="1982">
                            1982
                        </option>

                        <option value="1983">
                            1983
                        </option>

                        <option value="1984">
                            1984
                        </option>

                        <option value="1985">
                            1985
                        </option>

                        <option value="1986">
                            1986
                        </option>

                        <option value="1987">
                            1987
                        </option>

                        <option value="1988">
                            1988
                        </option>

                        <option value="1989">
                            1989
                        </option>

                        <option value="1990">
                            1990
                        </option>

                        <option value="1991">
                            1991
                        </option>

                        <option value="1992">
                            1992
                        </option>

                        <option value="1993">
                            1993
                        </option>

                        <option value="1994">
                            1994
                        </option>

                        <option value="1995">
                            1995
                        </option>

                        <option value="1996">
                            1996
                        </option>

                        <option value="1997">
                            1997
                        </option>

                        <option value="1998">
                            1998
                        </option>

                        <option value="1999">
                            1999
                        </option>

                        <option value="2000">
                            2000
                        </option>

                        <option value="2001">
                            2001
                        </option>

                        <option value="2002">
                            2002
                        </option>

                        <option value="2003">
                            2003
                        </option>

                        <option value="2004">
                            2004
                        </option>

                        <option value="2005">
                            2005
                        </option>

                        <option value="2006">
                            2006
                        </option>

                        <option value="2007">
                            2007
                        </option>

                        <option value="2008">
                            2008
                        </option>

                        <option value="2009">
                            2009
                        </option>

                        <option value="2010">
                            2010
                        </option>

                        <option value="2011">
                            2011
                        </option>

                        <option value="2012">
                            2012
                        </option>

                        <option value="2013">
                            2013
                        </option>

                        <option value="2014">
                            2014
                        </option>

                        <option value="2015">
                            2015
                        </option>

                        <option value="2016">
                            2016
                        </option>

                        <option value="2017">
                            2017
                        </option>

                        <option value="2018">
                            2018
                        </option>

                        <option value="2019">
                            2019
                        </option>

                        <option value="2020">
                            2020
                        </option>
                        <option value="2021">
                            2021
                        </option>
                        <option value="2022">
                            2022
                        </option>

                    </select>
                </div>
            </div>
            <div class="form2-gender">
                <label for="">Gender</label>
            </div>
            <div class="form2-gender-choice">
                <div class="form2-gender-name">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="male">
                </div>
                <div class="form2-gender-name">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="female">
                </div>
                <div class="form2-gender-name">
                    <label class="form-check-label" for="inlineRadio3">Custom</label>
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="custom">
                </div>
            </div>
            <div class="form2-signup-button">
                <button class="signUpBtn">Sign Up</button>
                <div class="form-alert-success"></div>
                 <div class="form-alert-error"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous">
    </script>
    <script>
        //------------------xử lý đăng ký-----------------------
        const signUpBtn = document.querySelector('.signUpBtn');
        const fname = document.querySelector('.fname');
        const sname = document.querySelector('.sname');
        const passwordInput = document.querySelector('.passwordInput');
        const mailInput = document.querySelector('.mailInput');
        const dateSelect = document.querySelector('.date');
        const monthSelect = document.querySelector('.month');
        const yearSelect = document.querySelector('.year');
        const genderSelect = document.querySelectorAll('.form-check-input');
        const success_alert = document.querySelector('.form-alert-success');
        const error_alert = document.querySelector('.form-alert-error')

        signUpBtn.addEventListener('click', function(){
            const firstName = fname.value;
            const SurName = sname.value;
            const password = passwordInput.value;
            const email = mailInput.value;
            const dateOfBirth = `${dateSelect.value} ${monthSelect.value} ${yearSelect.value}`;
            let gender = '';
            genderSelect.forEach((e,i) => {
                e.checked ? gender = e.value : null
            })
            fetch('http://localhost:8080/signup', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    firstName: firstName,
                    SurName: SurName,
                    password: password,
                    email: email,
                    dateOfBirth: dateOfBirth,
                    gender: gender
                })
            }).then(data => {
                if(data.status === 200){
                    success_alert.innerHTML = "Signup successfuly,  <a href='/login'>login now</a>";
                    error_alert.innerHTML = ''
                }
            }).catch(err => { 
                success_alert.innerHTML = '';
                error_alert.innerHTML = 'Failed, do not leave any input field blank'
            })
        })

        //-------Xử lý đăng nhập---------------
        const loginBtn = document.querySelector('.buttonlogin');
        const login_password = document.querySelector('.login-password');
        const login_email = document.querySelector('.login_email');
        const login_alert = document.querySelector('.form-login-alert');
        loginBtn.addEventListener('click', (e) => {
            e.preventDefault();
            const userEmail = login_email.value;
            const userPassword = login_password.value;
            fetch('http://localhost:8080/login', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userEmail,
                    userPassword
                })
            }).then(data => {
                    return data.json()
                }).then(data => {
               if(data.mess === 'success'){
                   localStorage.setItem('userId', data.id);
                   if(data.isAdmin === true){
                       window.location.replace("/admin");
                   }else{
                       window.location.replace('/');
                   }
               }else{
                   if(data.status === 401){
                       login_alert.textContent = 'Wrong username or password'
                   }else{
                       login_alert.textContent = 'Failed, some errors happened'
                   }
               }
            }).catch(err => {
                console.log(err)
            })
        })

    </script>
</body>

</html>